/*

Title: External CSS File
By: Ruben Quizon | MiU 1310
For: CSS Selectors

*/

h2 {
	color:#ffffff;
	outline:#000000 solid 1px;
	background:#003b6f;
	margin:0px;
	border:0px;
}

h4 {
	background:#599653;
	border:0px;
	margin:0px;
}

img {
	border:0px;
	margin:0px;
}
