/*

Title: External CSS File
By: Ruben Quizon | MiU 1310
For: CSS Selectors

*/

h2 {
	color:#ffffff;
	background:#003b6f;
	margin:0px;
	border:0px;
	padding-left:2px;
}

h4 {
	background:#599653;
	border:0px;
	margin:0px;
	padding-left:2px;
}

/* modified h4 tag to set browse section apart*/
.forBrowse {
	color:#ffffff;
	background:#3b3b3b;
	margin:0px;
	padding:0px;
}

img {
	border:0px;
	margin:0px;
}

/* sets the search section apart*/
#search {
	background:#c70000;
	color:#ffffff;
	padding-left:2px;
}

/* takes away the dots from list elements */
.nodot {
	list-style-type:none;
	padding:0px;
}

/* adds an outline to the list elements with class nodot and makes space between */
ul.nodot > li {
	margin-bottom:5px;
	background:#8c8c8c;
	color:#000000;
}
