/*

Title: External CSS File
By: Ruben Quizon | MiU 1310
For: CSS Selectors

*/

/* make error messages red */
label.error{
	display:block; 
	color:#ff0000;
}

.subliminal {
	margin:5px 3px;
	text-align:left;
	font-size:12px;
	color:#8f8fbd;
}